:root{
    --white-color: #fff;
    --black--color:#000;
    --text-color: rgba(0, 0, 0, 0.8);
    --red-color:#cd5c4d;
    --growth-from:0.7;
    --growth-to: 1;
    --color-banner: #d0011b;
    --display-scope: 1200px;
    --header-height: 120px;
    --header-navbar: 34px;
    --header-search: calc(var(--header-height) - var(--header-navbar))
}

/* responsive */

.grid-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

.grid__column-2{
    padding-left: 6px;
    padding-right: 6px;
    width: 16.66667%;
}

.grid__column-10{
    padding-left: 6px;
    padding-right: 6px;
    width: 83.33333%;
}

.grid__column-2-10{
    padding-left: 6px;
    padding-right: 6px;
    width: 20%;
}

.grid__column-2_4-12{
    padding-left: 6px;
    padding-right: 6px;
    width: 20%;
}
/* qr-code */
@keyframes showup {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


/* modal */
@keyframes growth{ /*growth: sự phát triển*/
    from{
        transform: scale(var(--growth-from));  /*scale: tỉ lệ ở đây từ 0-->1*/
        opacity: 0;
    }

    to{
        transform: scale(var(--growth-to));
        opacity: 1;
    }
}


/* notify + cart */
@keyframes spreadout{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
