:root{
    --white-color: #fff;
    --black--color:#000;
    --text-color: rgba(0, 0, 0, 0.8);
    --text-fooder: rgba(0,0,0,.54);
    --red-color:#cd5c4d;
    --growth-from:0.7;
    --growth-to: 1;
    --color-banner: #d0011b;
    --display-scope: 1200px;
    --header-height: 120px;
    --header-navbar: 34px;
    --header-search: calc(var(--header-height) - var(--header-navbar))
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%; /*10px giá trị là tương đương = 1rem*/
    line-height: 1.6rem;/*16px*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.main{
    position: relative;
}
/*common*/
.mj-right-4{
    margin-right: 10px;
}

.mj-8{
    margin: 0 8px;
}

.text-red{
    color: #e0462d!important;
}

.text-white{
    color: var(--white-color)!important;
}

.text-black{
    color: var(--black--color)!important;
}

.backgr-white{
    background-color: #fff!important;
}

.backgr-red{
    background-color: #ee4d2d !important;
}
/* header */

.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #f63,#f53d2d);
}

/* nav */

.navbar{
    display: flex;
    justify-content: space-between;
    height: var(--header-navbar);
}

.navbar__list{
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    display: inline-flex;
    align-items: center;
}

.navbar__item{
    display: inline-block;
    padding-left: 8px;
    color: var(--white-color);  
    font-size: 1.4rem;
    position: relative;
}

.navbar__item--strong{
    font-weight: 500;
}



.navbar__item > a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    padding-right: 8px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
}

.navbar__item--separate{
    border-right: 2px solid hsla(0,0%,100%,.22);
}

.navbar__item--icon{
    font-size: 16px;
    padding: 0;
}

.navbar__item--icon a{
    padding-right: 0;
    margin-right: 8px;
}

.navbar__item--icon > a > i{
    font-size: 1.6rem;
    margin-right: 3px;
}

.navbar__item > a:hover,
.navbar__item--icon > a:hover{
    opacity: 0.8;
}



/* QR-code */
.code-qr{
    position: absolute  ;
    padding: 0;
    margin: 8px;
    list-style: none;
    background-color: var(--white-color);
    box-shadow:0 0 6px  #ccc;
    margin-left: -1px;
    width: 200px;
    display: none;
    animation: showup linear 0.3s;
    z-index: 2;
    border-radius: 3px;
}

.code-qr__item{
    width: 200px;
}

.code-qr__item:first-child >a >img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.code-qr__item:last-child {
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.code-qr .app-download{
    width: 200px;
    flex-wrap: wrap;
    padding: 0 15px 5px;
    display: flex;
    background-color: inherit;
    height: auto;
}

.app-download__item img{
    width: 79px;
    display: inline-block;
    padding: 0;
    margin: 8px 3px;
    font-size: 16px;
    background-color: var(--white-color);
}

.navbar__item:hover .code-qr{
    display: block;
}

/* show-qr-hover */
.code-qr::before{
    position: absolute;
    content: '';
    display: block;
    width: 50%;
    height: 11px;
    top: -10px;
    left: 0;
}


/* notifycation */
.notify{
    position: absolute;
    top: 25px;
    right: 9px;
    width: 404px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 8px #ccc;
    border-radius: 3px;
    background-color: var(--white-color);
    display: none;
    transform-origin: calc(100% - 30px) top;
    animation: spreadout ease-in-out 0.25s;
    will-change: opacity, transform;
    z-index: 2;
}

/* notifycation__header */
.notify__header{
    color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: 100;
    user-select: none;
}

.notify__header h4 {
    margin: 0;
}

/* notifycotion__body  */
.notify__list{
    padding: 8px 10px;
    position: relative;
    background-color: rgba(238, 75, 43, 0.07);
}

.notify__list:hover{
    background-color: rgba(218, 182, 175, 0.07);
}

.notify__link a{
    display: flex;
    text-decoration: none;
}

.notify__link a:visited{
    background-color: var(--white-color);
}

.notify__img{
    align-self: flex-start;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    margin-top: 4px;
    border-radius: 15%;
}

.notify__body{
    display: inline-block;
    font-size: 1.4rem;
    width: 330px;
}

.notify__name{
    display: block;
    margin-bottom: 5px;
    color: var(--black--color);
}

.notify__desc{
    display: block;
    margin-bottom: 5px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

/* notify__footer */

.notify__footer{
    height: 40px;
    padding: 0 10px;
    font-weight: 100;
    text-align: center;
    display: flex;
}

.notify__footer .notify__extension{
    color: var(--text-color);
    font-weight: 400;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 40px;
    align-self: center;
    width: 100%;
}

.notify__footer:hover{
    background-color: rgb(250, 250, 250);
}

/* show-notifycation */

.navbar__item:hover .notify{
    display: block;
}

.notify::before{
    position: absolute;
    right: -1px;
    top: -15px;
    width: 100px;
    height: 40px;
    content: '';
    display: block;
}

.notify::after{
    position: absolute;
    right: 0;
    top: -28px;
    border-color: transparent transparent var(--white-color) transparent;
    border-width: 20px 30px;
    border-style: solid;
    content: '';
}

/* modal */

/* modal__login */

.modal{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.342);
    justify-content: center;
}

.modal--login{
    display: none;
}

.modal--login.open{
    display: flex !important;
}

.modal__container{
    top: 100px;
    background-color: var(--white-color);
    width: 450px;
    padding: 32px;
    height: 450px;
    position: relative;
    border-radius: 5px;
    animation: growth linear 0.2s;
    will-change: opacity;
}

.modal__header{
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    height: 40px;
    font-size: 1.4rem;
}

.modal__header h1{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    user-select: none;
}

.modal__header a{
    text-decoration: none;
    padding: 0 16px;
    font-weight: 500;
}

.modal__body{
    position: relative;
    padding: 24px 0;
    height: calc(100% - 66px);
}

.modal__input{
    width: 100%;
    margin: 6px 0;
    font-size: 1.2rem;
    padding: 8px;
}

.modal__support{
    display: flex;
    justify-content: flex-end;
    margin-right: -8px;
}

.modal__support a{
    text-decoration: none;
    font-size: 1.3rem;
    margin: 8px 0;
    padding: 2px 8px;
    
}

.submit{
    position: absolute;
    right: 0;
    bottom: 16px;
    margin-bottom: 4px;
}

.modal__submit{
    font-size: 1.4rem;
    width: 124px;
    height: 38px;
    border: none;
    border-radius: 3px;
    margin-left: 4px;
    font-size: 600;
    cursor: pointer;
}

.modal__support--separate{
    border-right: 2px solid #a7a6a762;
}

.modal__footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 58px;
    justify-content: space-between;
    padding: 8px 32px;
    background-color: #eae9ea;
    border-bottom-right-radius:  5px;
    border-bottom-left-radius: 5px;
} 


.modal__link{
    position: relative;
    margin: auto;
    width: 124px;
    height: 36px;
    font-size: 1.3rem;
    border: none;
    margin-left: 0;
    margin-right: 0;
    background-color: #e9e8e9;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    line-height: 36px;
}

.modal__link i{
    position: absolute;
    line-height: 36px;
    left: 8px;
    /* color: var(--white-color); */
    font-size: 1.6rem;
}

.modal__link--sms{
    background-color: #13a00d;
}

.modal__link--fb{
    background-color: #314b86;
}

.modal-hover:hover{
    opacity: 0.8;
}



/* modal--sign--up */

.modal--signup{
    display: none;
}

.modal--signup.open{
    display: flex;
}

.modal__container--sinup{
    height: 520px;
}

.modal__rules{
    font-size: 1.3rem;
    text-align: center;
}

.modal__rules a{
    text-decoration: none;
}

.modal__link--signup{
    width: 185px !important;
}


/* header--search */
.search{
    display: flex;
    align-items: center;
    height: var(--header-search);
}

/* logo--search */
.search__logo{
    width: 200px;
    text-align: center;
    padding: 0 40px 0 0;
    
}

.cart__link{
    content: '';
}

.logo-shop{
    width: 138px;
    margin-bottom: 20px;
}

/* input--search */
.search__body{
    flex: 1;
}
.search__focus{
    background-color: var(--white-color);
    height: 40px;
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.search__focus form{
    flex: 1;
    position: relative;
}

.search__input{
    width: 100%;
    height: 34px;
    padding: 0 0 0 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    line-height: 34px;
    border-radius: 3px;
}
/* 
.search__input:focus ~ .search__history{
    display: block;
} */

/* history-search */
.search__history{
    position: absolute;
    top: 43px;
    left: -3px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    width: calc(100% - 10px);
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
    display: none;
    z-index: 1;
}

.search__history.open{
    display: block;
}

.search__history-header{
    color: rgba(0,0,0,.26);
    padding: 10px;
    margin: 0;
}

.search__history-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.search__history-item{
    padding: 10px;
}

.search__history-item a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.search__history-item:hover{
    background-color: #fafafa;
}

.search__select{
    height: 34px;
    text-align: center;
    position: relative;
}

.search__select-label{
    font-size: 1.5rem;
    color: #000000de; 
    padding: 0 10px 0 15px;
    line-height: 34px;
    border-left: 2px solid #ebebeb;
    cursor: pointer;
    font-weight: 400;
}

.search__select-label > i{
    font-size: 10px;
    margin-left: 15px;
    font-weight: 600;
}

.select-shop{
    position: absolute;
    top: 42px;
    right: 0;
    list-style: none;
    font-size: 1.5rem;
    background-color: var(--white-color);
    padding: 0;
    border-radius: 3px;
    margin: 0;
    animation: growth linear 0.1s;
    display: none;
    box-shadow: 0 0 5px #ccc;
    z-index: 1;
}

.select-shop__item{
    color: #000000de;
    width: 134px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

.select-shop__item i{
    margin-left: 20px;
    font-size: 10px;
}

/* show-selecter-shop */
.search__select:hover .select-shop{
    display: block;
}

.select-shop::before{
    content: '';
    height: 11px;
    width: 133px;
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    cursor: pointer;
}

.search--bottom{
    background-color: #fb5533;
    color: var(--white-color);
    height: 34px;
    width: 60px;
    font-size: 14px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.search__nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 5px;
}

.search__nav >li{
    margin-right: 14px;
    display: inline-block;
}

.search__nav >li >a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white-color);
}

/* cart-img */
.search__cart{
    width: 140px;
    text-align: center;
}

.search__cart--logo{
    font-size: 24px;
    margin-bottom: 19px;
    color: var(--white-color);
    cursor: pointer;
}

.cart__notice{
    position: absolute;
    top: -7px;
    right: -4px;
    padding: 0px 6px;
    background-color: var(--white-color);
    color: var(--red-color);
    font-size: 1rem;
    border-radius: 44%;
    border:1px solid var(--red-color);
}

.cart{
    position: relative;
    margin: auto;
    width: 40px;
    height: 45px;
    cursor: pointer;
}

.cart__list{
    position: absolute;
    right: 0;
    top: 35px;
    background-color: var(--white-color);
    min-height: 260px;
    width: 400px;
    font-size: 1.4rem;
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
    cursor: initial;
    animation: spreadout ease-in-out 0.25s;
    transform-origin: calc(100% - 15px) top;
    will-change: opacity, transform ;
    display: none;
    z-index: 1;
}

.cart:hover .cart__list--hollow{
    display: flex;
}

.cart:hover .cart__contain{
    display: block;
}

.cart__list::after{
    position: absolute;
    top: -19px;
    right: 5px;
    content: '';
    border-width: 10px 14px;
    border-style: solid;
    cursor: pointer;
    border-color: transparent transparent var(--white-color) transparent;
}

.cart__list::before{
    position: absolute;
    top: -10px;
    right: 0;
    height: 10px;
    width: 65px;
    content: '';
}


/* cart--hollow */

.cart__list--hollow{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__list .cart__list--hollow-img{
    width: 175px;
    display: none;
}

.cart__list .cart__list--hollow-notice{
    margin-top: 20px;
    border-color: transparent transparent transparent #FFF;
    border-width: 20px;
    display: none;
}
.cart__list--hollow .cart__list--hollow-img,
.cart__list--hollow .cart__list--hollow-notice{
    display: block!important;
}

/* cart__list--contain */
 
.cart__header{
    margin: 0;
    font-size: 1.4rem;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    color: rgb(126, 126, 126);
    display: none;
}
 
.cart__list-new{
    list-style: none;
    padding: 0;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 0;
    max-height: 58vh;
    overflow-y: auto    ;
}
 
.cart__item{
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 62px;
}

.cart__item:hover{
    background-color: #f5f5f5;
}
 
.cart__item__img{
    width: 42px;
}
 
.cart__item__content{
    margin-left: 10px;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    text-decoration: none;
}
 
.cart__price{
    min-width: 100px;
    text-align: right;
    color: var(--red-color);
}

.cart__bottom{
    height: 60px;
    text-align: right;
    line-height: 60px; 
    display: none   ;
}

.cart__bottom-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    background-color: #ee4d2d;
    height: 34px;
    display: inline-block;
    width: 125px;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    margin: 10px;
}

.cart__contain .cart__header{
    display: block;
}
.cart__contain .cart__list-new{
    display: flex;
}
.cart__contain .cart__bottom{
    display: block;
}



/* app-container */
.app-container{
    background-color: #f5f5f5;
    padding: 20px 0;
}


/* category */
.category{
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 2px;
}

/* category-header */
.category-header{
    position: relative;
}

.category-header__backgr{
    width: 100%;
    
}

.category-header__content{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
}

.category-header__link{
    display: flex;
    justify-content: center;
    position: relative;
    height: 180px;
}

.category-header__avatar{
    border-radius: 50%;
    position: absolute;
    width: 80px;
    top: 28px;
}

.category-header__subavatar{
    border-radius: 2px;
    position: absolute;
    width: 64px;
    top: 98px;
}

.category-header__name{
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    margin-top: 5px;
    padding: 0 10px;
    font-weight: 500;
}

.category-header__timelive{
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 6px;
}

/* category-content  */
.category-content{
    
    font-size: 1.4rem;
}

.category-content__header{
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding: 18px 20px;
}
 
.category-content__header > i{
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 5px;
}

.category-content__list{
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 20px 20px 20px;
}

.category-content__item{
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.category-content__item--active::before{
    position: absolute;
    top: 50%;                   /* chạy xuống 50% của element chứa nó*/
    transform: translateY(-50%); /* chạy lên 50% của chính nó*/
    left: -10px;
    content: '';
    border: 4px solid;
    border-color: transparent transparent transparent #f6432e;
    border-width: 4px 6px;
}

.category-content__item--link{
    position: relative;
    text-decoration: none;
    font-size: 1.3rem;
    width: 100%;
    display: block;
    transition: right linear 0.1s;
    right: 0px; /*định nghĩa cho transition vị trí đầu*/
    color: var(--text-color);
}

.category-content__item--link:hover{
    right: -2px;
    color: #d0011b;
}


/* arrange */
.arrange{
    height: 60px;
    background-color: #ededed;
    padding: 13px 20px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
}

.arrange__label{
    margin-right: 5px;
}

.arrange__button{
    height: 34px;
    padding: 0px 15px;
    margin-left: 10px;
    border: none;
    background-color: var(--white-color);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

/* arrange__select */
.arrange__select{
    position: relative;
    margin-left: 10px;
    height: 34px;
    background-color: var(--white-color);
    border-radius: 2px;
    line-height: 34px;
    cursor: pointer;
}

.arrange__select-default{
    display: inline-block;
    width: 124px;
    margin: 0 10px;
    border-radius: 2px;
}

.arrange__select i{
    width: 34px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.arrange__select-list{
    position: absolute;
    top: 36px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    background-color: var(--white-color);
    width: 100%;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.arrange__select-list::before{
    position: absolute;
    top: -3px;
    width: 100%;
    height: 4px;
    content: '';
    cursor: pointer;
}

.arrange__select-item{
    padding: 0 15px;
}

.arrange__select-item a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.arrange__select-item:hover a{
    color: var(--red-color);
}

.arrange__select:hover .arrange__select-list{
    display: block;
}

.arrange__page{
    display: inline-block;
    position: absolute;
    right: 20px;
}

.arrange__page-num{
    color: rgba(0, 0, 0, 0.8);

}

.arrange__page-current{
    color: var(--red-color);
}

.arrange__next{
    display: inline-block;
    margin-left: 20px;
}

.arrange__next-back{
    background-color: var(--white-color);
    width: 34px;
    height: 36px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.arrange__next-back--none{
    opacity: 0.4;
}

.arrange__next-back:hover{
    opacity: 0.8;
}

.arrange__next-up{
    background-color: var(--white-color);
    width: 34px;
    height: 36px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}


/* contain -product */

.contain-product__item {
    position: relative;
    margin-top: 10px;
    border-radius: 2px;
    /* overflow: hidden; */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: tranform ease-in-out 0.1s;
    cursor: pointer;
}

.contain-product__item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.contain-product__img {
    position: relative;
    padding-top: 100%;
    background-repeat: round;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.contain-product__img::after{
    position: absolute;
    bottom: 0;
    left: 27%;
    content: '';
    margin: auto;
    border-top: 25px solid #b40010;
    border-right: 5px solid transparent;
}

.row-2 .contain-product__img::after{
    position: absolute;
    bottom: 0;
    left: 27%;
    content: '';
    margin: auto;
    border-top: 24px solid #b40010;
    border-right: 5px solid transparent;
}
/* contain-product__content */
.contain-product__content{
    padding: 10px;
    background-color: var(--white-color);
}

.contain-product__name {
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.contain-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
}

.contain-price__default {
    opacity: 0.8;
    margin: 0;
    font-size: 1.4rem;
    text-decoration: line-through;
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 8px;
}

.contain-price__sale {
    margin: 0%;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--red-color);
}

.contain-price__ship{
    width: 20px;
    height: 100%;
    margin-left: 3px;
}

.contain-rated {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.contain-rated__love{
    color: #ccc;
    cursor: pointer;
}


/* when not js:)) */
.love .contain-rated__love{
    color: #f63;
}

.gold{
    color: #fecc20;
}

.contain-rated__star{
    color: #ddd;
    cursor: pointer;
    display: flex;
    width: 2px;
    height: 100%;
    text-align: center;
    margin-right: 8px;
    font-size: 9px;
}



.contain-rated__text {
    color: var(--text-color);
    margin-left: 5px;
    font-size: 1.2rem;
}

.contain-product__location {
    display: block;
    font-size: 1.2rem;
    margin-top: 5px;
    color: var(--text-color);
    opacity: 0.8;
    text-align: right   ;
}

.contain-sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    background-color: #feca20e0;
    text-align: center;
    font-size: 1.2rem;
    padding: 4px 2px 3px;
    text-transform: uppercase;
    line-height: 1.4rem;
    border-top-right-radius: 2px;
}

.contain-sale-off::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border: 50px solid;
    border-color: transparent #feca20e0 transparent #feca20e0;
    border-width: 0 19px 4px;
}

.contain-sale-off-2 {
    position:absolute;
    bottom: 0;
    display: inline-block;
    width: 27%;
    height: 13%;
    background-color: #b40010;
    text-align: center;
    padding-right: 8px;
}

.contain-sale-off-2__value {
    line-height: 0;
    padding: 0;
    margin: 0;
    font-size: 0.2%;
    line-height: 1px;
    text-transform: uppercase;
    display: block;
}

.contain-sale-off-2__label {
    font-size: 0.4%;
    text-transform: uppercase;
    line-height: 0;
    padding: 0;
    line-height: 1px;
    margin: 0;
}

.contain-product__made {
    position: absolute;
    top: 10px;
    left: -4px;
    height: 20px;
    width: 63px;
    font-size: 6px;
    line-height: 1.2;
    padding: 3px 4px;
    text-align: left;
    text-transform: uppercase;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: var(--color-banner);
    background-color: currentColor;
}

.contain-product__made::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    border-top: 5px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}


/* fooder */
.footer{
    border-top: 4px solid #ee4d2d;
}

.footer-info{
    padding: 5px;
    font-size: 1.2rem;
}

.footer-info__header{
    color: var(--text-fooder);
    text-transform: uppercase;
    font-weight: 600;
    margin: 40px 0 20px;
}

.footer-info__list{
    margin-bottom: 25px;
    list-style: none;
    padding: 0;
    display: block;
    margin-top: 0;
}

.footer-info__item{
    margin-bottom: 12px;
    
}

.footer-info__link{
    text-decoration: none;
    color: var(--text-fooder);
    text-transform: capitalize;
    display: block;
}

.footer-info__link:hover{
    color: #ee4d2d;
}

.footer-info__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 25px;
    padding: 0;
    margin-top:0;
}

.footer-info__img--second{
    margin: 0 0  20px 0;
}
.footer-info__pay{
    height: 29px;
    width: 55px;
    margin: 0 8px 8px 0;
}

.footer-info-icon{
    color: rgba(0, 0, 0, 0.54);
    margin: 0px 10px 4px 0px;
    font-size: 14px;
    text-align: center;
}


/* fooder--qr */
.footer-info__down{
    display: flex;
    height: 86px;
}

.footer-info__down-link{
    height: 100%;
    display: block;
}

.footer-info__down-qr{
    width: 86px;
    margin-right: 15px;
}

.footer-info__down-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
}

.footer-info__down-appimg{
    width: 80px;
}


/* footer-location */
.footer-location{
    padding: 40px 0;
    display: flex;
    font-size: 1.4rem;
    color: var(--text-fooder);
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,.1);
}

.country{
    display: flex;
}

.country__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.country__item{
    display: inline-block;
}

.country__link{
    text-decoration: none;
    color: var(--text-fooder);
    padding: 0 5px;
    display: block;
    border-left: 1px solid rgba(0,0,0,.1);
}

.country__link:hover{
    color: #ee4d2d;
}

.country__link--none{
    border-left: none;
}

/* footer-ending */
.footer-ending{
    font-size: 1.2rem;
    background-color: #f5f5f5;
    color: var(--text-fooder);
    padding: 42px 0;
}

.footer-policy{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer-policy__item:nth-child(1),
.footer-policy__item:nth-child(2),
.footer-policy__item:nth-child(3){
    border-right: 1px solid rgba(0,0,0,.1);
}

.footer-policy__item{
    text-align: center;
    text-decoration: none;
    color: var(--text-fooder);
    padding: 0 25px;
}

.footer-ending__list-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-ending__img-link{
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.footer-ending__img{
    height: 45px;
}
.footer-ending__company{
    margin: 8px 0 25px;
    text-align: center;
}

.footer-ending__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-ending__contact div{
    margin-top: 8px;
}



/* chat  */
.chat{
    position:fixed;
    bottom: 0;
    right: 10px;
    display: block;
}

.chat__button{
    box-shadow: 0 0 5px #ccc;
    display: block;
    color: #ee4d2d;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Helvetica,Helvetica Neue,RobotoRegular,Droid Sans,Arial,sans-serif;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
    height: 42px;
    background-color: var(--white-color);
    transform:translate(0);
    transition: opacity ease 0.18s, transform linear 0.18s;
}

#chat-check{
    width: 0px;
    opacity: 1;
}


/* chat modal  */
.chat-modal{
    position: fixed;
    bottom: 0;
    right: 8px;
    display: inline-block;
    background-color: var(--white-color);
    width: 504px;
    box-shadow: 0 0 5px #ccc;
    transform: scale(0);
    transform-origin: calc(100% - 0px) calc(100% - 0px);
    transition: transform linear 0.25s, opacity linear 0.25s;
    opacity: 0;
}

.chat-modal__header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(204, 204, 204, 0.5);
}

.chat-modal__header div{
    display: inline-block;
    font-size: 2rem;
}
.chat-modal__header div:first-child{
    color: #ee4d2d;
    font-weight: 500;
    padding: 12px;
}

.chat-modal__header div:last-child{
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 8px;
    width: 64px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chat-modal_right{
    cursor: pointer;    
}

.chat-modal_down{
    cursor: pointer;
}

.chat-modal__icon{

}

.chat-modal__container{
    display: flex;
    height: 344px;
}

.chat-modal__item{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid rgba(204, 204, 204, 0.5);
    position: relative;
}


.chat-img-hello{
    width: 160px;
}

.chat-modal__hellotext{
    font-size: 1.4rem;
}

.chat-search__header{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 10px;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
}

.chat-modal__search{
    color: #bdbdbd;
    position: relative;
    height: 100%;
    width: 100%;
}

.chat__ionsearch{
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
    font-size: 1.4rem;
}

.chat__input{
    background-color: #f4f4f6;
    border: none;
    outline-color: cornflowerblue;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.chat__input:focus ~ .chat-select{
    display: none;
}

.chat-select{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding-left: 10px;
    cursor: pointer;
}

.chat-select__list{
    display: block;
    position: absolute;
    margin: 0px;
    top: 27px;
    right: 0;
    list-style: none;
    width: 90px;
    padding: 10px 0;
    box-shadow: 0 0 7px 0 #7d7b7b52;
    border-radius: 3px;
    display: none;
}

.chat-select:hover .chat-select__list{
    display: block;
}


.chat-select__list::before{
    width: 57px;
    height: 13px;
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
}


.chat-select__item{
    padding: 6px 16px;
}

.chat-select__item:hover{
    background-color: rgba(221, 221, 221, 0.5);
}

.chat-search__body{
    text-align: center;
}
.chat-search__body-img{
    width: 120px;
    margin-bottom: 10px;
}
.chat-search__body-content{
    font-size: 1.2rem;
}

/* hide/show chat */

.chat-input:checked ~ .chat-modal{
    transform: scale(1);
    opacity: 1;
}

.chat-input:checked ~ .chat__button{
    opacity: 0;
    transform: translate(-152px, -163px);
}