/* pc low recolution  */
@media (min-width: 1024px) and (max-width: 1239px) {
    .contain-sale-off::after,
    .contain-product__img::after{
        display: none;
    }

    .contain-sale-off-2 {
        width: 31%;
    }
}


/* mobi & tablet  */

@media (max-width: 1023px){
    .hide-on-mobi-tablet{
        display: none;
    }

    :root{
        --header-height: 74px;
        --header-navbar: 0px;
    }
    
    /* movi-category */
    .mobi-category{
        display: block;
    }

    .search__history-item >a,
    .search__select-label,
    .search--bottom,
    .mobi-category__link,
    .chat__button,
    .cart,
    .cart__link,
    .navi-mobi-tablet__icon
    {
        -webkit-tap-highlight-color: transparent;
    }


    /* navication  */
    .navi-mobi-tablet{
        
    }

    .navi-mobi-tablet__icon {
        font-size: 24px;
        color: #fff;
        display: block;
        height: 74px;
        width: 60px;
        line-height: 74px;
        text-align: center;
        cursor: pointer;
        position: fixed;
    }

    .navi-mobi-tablet__list{
        position: fixed;
        top: 76px;
        left: -100%;
        z-index: 10;
        background-image: linear-gradient(0,#f84c3d, #f63);
        list-style: none;
        padding: 0;
        margin: 0;
        border-radius: 3px;
        opacity: 0;
        transition: left ease-in-out 0.5s, opacity ease-in-out 0.5s;
    }

    #navi-mobi-tablet__input:checked ~ .navi-mobi-tablet__list{
        left: 1px;
        opacity: 1;
    }

    .navi-mobi-tablet__icon,
    .navi-mobi-tablet__list{
        display: block;
    }

    .navi-mobi-tablet__item {
        position: relative;
    }
    .navi-mobi-tablet__item > a{
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 1.9rem;
        height: 68px;
        padding: 10px 36px;
        line-height: 68px;
        border-bottom: 0.5px solid #f5f5f591;
        border-radius: 3px;
        min-width: 49vw;
        
    }

    .navi-mobi-tablet__item > a > i{
        margin: 0 8px 0 0;
    }

    .navi-mobi-tablet__item > a:hover{
        opacity: 0.8;
    }

    .mobi-outline{
        position: fixed;
        background-color: rgba(51, 51, 51, 0.1);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
        display: none;
    }

    #navi-mobi-tablet__input:checked ~ .mobi-outline{
        display: block;
    }

        /* link  */

    .link-mobi-tablet__list {
        position: absolute;
        min-width: 120px;
        right: calc(-22vw - 2px);
        top: 0;
        list-style: none;
        background-image: linear-gradient(0,#f84c3d, #f63);
        padding: 0;
        margin: 0;
        border-radius: 3px;
        display: none;
    }

    .navi-mobi-tablet__item:hover .link-mobi-tablet__list{
        display: block;
    }
    .link-mobi-tablet__list::after {
        display: block;
        content: '';
        position: absolute;
        width: 10px;
        height: 69px;
        top: 0px;
        left: -6px;
    }

    .link-mobi-tablet__item-link {
        color: #FFF;
        text-decoration: none;
        font-size: 1.7rem;
        height: 48px;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 0.5px solid #f5f5f591;
        border-radius: 2px;
        min-width: 22vw;
    }

    .link-mobi-tablet__item-link > i{
        margin-right: 6px;
    }

        /* QR-code  */
    .navi-mobi-tablet__item:hover .code-qr{
        display: block;
    }

    .code-qr {
        position: absolute;
        top: -10px;
        right: -211px;
    }

    /* header  */
    .header {
        height: var(--header-height);
        background-image: linear-gradient(0, #f63,#f53d2d);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .cart__list::before {
        position: absolute;
        top: -27px;
        right: 25px;
        height: 28px;
        width: 93px;
        content: '';
        /* background-color: chocolate; */
    }
    .cart__list::after {
        display: none;
    }
    .cart__bottom {
        height: 70px;
        text-align: right;
        line-height: 70px;
        display: none;
        text-align: center;
    }
    .cart__bottom-link {
        font-size: 1.4rem;
        text-decoration: none;
        color: var(--white-color);
        background-color: #ee4d2d;
        height: 48px;
        display: inline-block;
        width: 150px;
        text-align: center;
        line-height: 48px;
        border-radius: 3px;
        margin: 10px;
    }
    .cart__price {
        min-width: 100px;
        text-align: right;
        flex: 1;
        color: var(--red-color);
    }
    .cart__list {
        position: fixed;
        top: 78px;
        right: 2vw;
        left: 2vw;
        margin: 0 auto;
        background-color: var(--white-color);
        min-height: 260px;
        width: 96vw;
        font-size: 1.4rem;
        border-radius: 4px;
        box-shadow: 0 0 5px #ccc;
        cursor: initial;
        animation: spreadout ease-in-out 0.25s;
        transform-origin: calc(100% - 15px) top;
        will-change: opacity, transform;
        display: none;
        z-index: 3;
    }

    .search__body {
        flex: 1;
        margin-left: 5px;
    }

    /* hear-sort-bar */
    .header-sort-bar{
        display: block;
        position: fixed;
        right: 0;
        left: 0;
        background-color: #fff;
        margin: 0;
    }

    .header-sort-bar__list {
        display: flex;
        justify-content: space-around;
        padding: 0;
        align-items: center;
        list-style: none;
        height: 58px;
        margin: 0px 42px;
    }

    .header-sort-bar__list > a{
        text-decoration: none;
        color: #333;
        display: block;
        width: 25%;
    }

    .header-sort-bar__item {
        width: 100%;
        height: 48px;
        text-align: center;
        line-height: 44px;
        font-size: 1.4rem;
        position: relative;
    }

    .header-sort-bar__item:hover{
        opacity: 0.8;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .header-sort-bar__list > a:nth-child(1),
    .header-sort-bar__list > a:nth-child(2),
    .header-sort-bar__list > a:nth-child(3){
        border-right: 1px solid rgba(51, 51, 51, 0.1);
    }

    .header-sort-bar__icon {
        padding: 0;
        list-style: none;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .header-sort-bar__icon > li {
        height: 15px;
        width: 20px;
        display: block;
    }

    .header-sort-bar__icon > li > i{
        padding: 0;
        height: 15px;
        width: 20px;
        display: block;
    }

    /* container  */
    .app-container {
        background-color: #f5f5f5;
        padding: 10px 0;
        position: relative;
        top: calc(74px + 58px);
    }
    .contain-product__img::after{
        display: none;
    }

    /* footer */
    .footer{
        margin-top: 132px;
    }
}

/* tablet */

@media (min-width: 740px) and (max-width:1023px){
    /* header */
    .contain-sale-off::after,
    .contain-product__img::after{
        display: none;
    }

    .contain-sale-off-2{
        width: 32%;
        height: 15%;
    }

    .hide-on-tablet{
        display: none;
    }
    .search__cart {
        width: 80px;
        text-align: right;
        margin-top: 21px;;
    }

    .cart__notice {
        position: absolute;
        top: -9px;
        right: -7px;
        padding: 0px 3px;
        background-color: var(--white-color);
        color: var(--red-color);
        font-size: 0.8rem;
        border-radius: 44%;
        border: 1px solid var(--red-color);
    }

    .search--bottom {
        background-color: rgb(251, 85, 51);
        color: var(--white-color);
        height: 43px;
        width: 78px;
        font-size: 14px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        cursor: pointer;
    }
    .search__focus {
        background-color: var(--white-color);
        height: 52px;
        padding: 3px;
        display: flex;
        align-items: center;
        border-radius: 3px;
    }

    /* container product */
    .pagination__link{
        margin: 0 10px;
    }


}

/* mobi */

@media (max-width: 739px){

    .hide-on-mobi{
        display: none;
    }

    .contain-sale-off-2 {
        width: 21%;
        height: 8%;
    }

    .search-mobi {
        display: block;
        width: 20%;
        height: 60px;
        margin-left: 62px;
        text-align: center;
    }

    .search-mobi > i {
        color: #fff;
        font-size: 32px;
        display: block;
        font-weight: 600;
        line-height: 60px;
    }

    #mobi-search{
        width: 0;
    }

    #mobi-search:checked ~ .search__focus{
        display: flex;
    }
    
    .search{
        display: flex;
        justify-content: space-around;
    }

    .search__cart {
        width: 25%;
        text-align: center;
    }

    .search__cart {
        width: 25%;
        display: flex;
        text-align: center;
        height: 60px;
        align-items: center;
        justify-content: center;
    }

    .logo-shop {
        width: 138px;
        margin-bottom: 0;
    }

    .search__logo {
        text-align: center;
        padding: 0 0 0 0;
        flex: 10000;
        width: auto;
    }

    .cart__link{
        display: block;
        width: 100%;
    }

    .cart__notice {
        position: absolute;
        top: 0;
        right: 12px;
    }

    .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 50px;
    }

    .search__cart--logo {
        font-size: 24px;
        margin-bottom: 0;
        color: var(--white-color);
        cursor: pointer;
        position: relative;
    }

    .header-sort-bar__list {
        margin: 0px;
    }

    .search__focus{
        position: fixed;
    }

    .search__focus {
        position: fixed;
        right: 3px;
        display: none;
        left: 3px;
        z-index: 2;
        top: calc(var(--header-height) + 2px);
        height: 56px;
        padding: 0 8px;
        animation: mobisearch linear 0.3s;
        border: 1px solid rgb(204 204 204 / 80%);
        box-shadow: 0 3px 3px rgb(204 204 204 / 50%);
    }

    @keyframes mobisearch {
        from{
            opacity: 0;
            top: calc(calc(var(--header-height) + 2px)/2);

        }
        to{
            opacity: 1;
            top: calc(var(--header-height) + 2px);
        }
        
    }

    .search__input{
        padding: 0px;
    }

    .search__select-label{
        padding: 0 5px;
    }

    .search__history {
        position: absolute;
        top: 51px;
        left: -8px;
        background-color: var(--white-color);
        font-size: 1.4rem;
        width: 100%;
    }

    .search__history-item{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .select-shop {
        position: absolute;
        top: 51px;
        right: -22px;
    }

    .search--bottom{
        height: 44px;
        width: 58px;
    }
    .select-shop::before {
        content: '';
        height: 28px;
        width: 105px;
        display: block;
        position: absolute;
        top: -24px;
        right: 24px;
    }


    /* nav-bar-mobi */
    .link-mobi-tablet__item {
        height: 7vh;
        width: 80vh;
    }

    .link-mobi-tablet__list {
        position: absolute;
        left: 0;
        right: -20px;
        top: calc(100% + 1px);
        list-style: none;
        background-image: linear-gradient(0,#f84c3d, #f63);
        padding: 0;
        margin: 0;
        border-radius: 3px;
        display: none;
        z-index: 11;
        border: 1px solid #fff;
    }

    .code-qr{
        display: none;
    }

    /* chat-mobi */
    .chat-modal{
        width: 92vw;
    }
    .chat-modal__container {
        display: flex;
        height: 312px;
    }


    /* container product */
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0; 
        margin-right: 0;
    }

    .pagination__link{
        margin: 0;
        height: 32px;
        line-height: 32px;
        min-width: 34px;
    }

    .contain-sale-off::after{
        display: none;
    }


    /* modal-login-signup */
    .modal__footer{
        padding: 8px 6px;
    }

    .modal__link{
        height: 42px;
        margin: 0 3px;
    }

    .modal__link > i{
        margin-right: 2px;
    }

    /* footer */
    .footer-info > div > div{
        text-align: center;
    }
    .footer-location{
        flex-direction: column;
    }

    .footer-location__copyright{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .country{
        display: block;
        width: 100%;
    }

    .country__name{
        text-align: center;
        margin-bottom: 5px;
    }

    .country__list{
        text-align: center;
    }

    /* footer-ending */
    .footer-policy{
        padding: 0;
    }

    .footer-ending__img-link{
        margin: 0 10px;
    }

    .footer-ending__contact{
        padding: 0 5px;
    }

    .footer-ending__contact> div{
        text-align: center;
    }

    .footer-info__img {
        justify-content: center;
    }

    .footer-info__down {
        display: flex;
        height: 86px;
        justify-content: center;
    }
    .footer-ending__img {
        height: 33px;
    }
    .footer-policy__item {
        padding: 0 5px;
    }
}